* {
  box-sizing: border-box;
}

html,
body,
ul,
h1,
h2,
h3,
p,
span,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto';
  background-color: #d6dbdf;
}